.header {
  border: 1px solid #f00;
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  position: sticky;
  top: 0;
  .location {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .title {
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .navLeft,
  .navRight {
    display: flex;
    flex-direction: row;
    width: calc(48px * 2);
  }
  .button {
    width: 48px;
  }
}
