.container {
  /*height: calc(100vh - 263px);*/
  scroll-snap-align: start;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .controller {
    border-radius: 40px;
    background-color: #efefef;
    overflow: hidden;
    height: 40px;
    min-height: 40px;
    margin: 0 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100px;
      &.active {
        background-color: #f00;
      }
    }
  }
  .contents {
    /*scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    overflow-x: scroll;
    overflow-y: hidden;*/
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    touch-action: none;
    .item {
      flex: 1;
      flex-shrink: 0;
      background-color: #000000;
      color: #fff;
      scroll-snap-align: center;
      //min-width: calc(100% - 96px);
      min-width: 100%;
      border: 2px solid #f00;
      min-height: calc(100% - 191px);

      border-radius: 16px;
      //margin: 12px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      position: relative;
      
      transition: all 0.3s ease-in-out;

      /*filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.32));*/
      /*box-shadow: 0 0 8px rgba(0,0,0,0.32);*/
      
      &.active {
        min-height: 100%;
      }
      &:first-child {
        //margin-left: 48px;
        &::before {
          content: "KF-21 LOGISTICS INFORMATION SYSTEM";
          display: flex;
          transform: rotate(90deg);
          transform-origin: left;
          position: absolute;
          top: 50%;
          margin-top: -50%;
          left: -16px;
          font-size: 14px;
          font-weight: 700;
          color: #707070;
        }
      }
      &:last-child {
        margin-right: 48px;
      }
      .title {
        font-size: 24px;
        font-weight: 700;
        padding: 8px 0;
      }
    }
  }
}

.active {
  background-color: #f00;
  min-height: calc(100% - 16px);
}
