.container {
  height: 300px;
  .contents {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    .item {
      background-color: #000000;
      overflow: hidden;
      scroll-snap-align: center;
      min-width: calc(100% - 96px);
      min-height: 100%;
      border-radius: 16px;
      margin: 12px;

      &:first-child {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 48px;
      }
    }
  }
}
