.main {
  flex: 1;
  width: 100%;
  scroll-snap-type: y mandatory;
  /*scroll-snap-type: y proximity;*/
  /*display: grid;
  grid-gap: 32px;
  grid-auto-rows: min-content;
  grid-auto-rows: calc(100% - 48px);
  grid-template-rows: 56px auto;*/
  overflow-x: hidden;
  overflow-y: scroll;
  .controller {
    padding: 0px 48px 8px 48px;
    scroll-snap-align: start;
  }
  .contents {
    height: 100%;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  .nav {
    border: 1px solid #f00;
    height: 56px;
    margin-bottom: 24px;
  }
}
