.container {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  &.list {
    height: calc(100% - 68px);
    .contents {
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }
  &.grid {
    height: 100%;
    .contents {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      padding: 0 48px 16px 48px;
      width: 100%;
      &::before {
        content: "KF-21 BORAMAE LOGISTICS INFORMATION SYSTEM";
        display: flex;
        position: fixed;
        height: calc(100% - 140px);
        width: 24px;
        top: 104px;
        left: 14px;
        font-size: 14px;
  
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
  
        color: #707070;
        background: linear-gradient(car(--colorSecondary), var(--colorPrimary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
