.container {
  scroll-snap-align: start;
  width: 100%;
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .listContents {
    display: flex;
    align-items: center;
    align-items: flex-start;
    height: 100%;
    position: relative;

    .item {
      background-color: transparent;
      flex: 1;
      flex-shrink: 0;
      scroll-snap-align: center;
      width: calc(100% - 96px);
      height: calc(100% - 16px);
      height: 100%;
      border-radius: 16px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      position: absolute;
      touch-action: none;
      will-change: transform;
      background: linear-gradient(135deg, #1e1e1e 0%, #474747 100%);
      
      &:first-child {
        &::before {
          content: "KF-21 BORAMAE LOGISTICS INFORMATION SYSTEM";
          display: flex;
          position: absolute;
          height: 100%;
          width: 24px;
          top: 0;
          left: -34px;
          font-size: 14px;
          color: #707070;
          justify-content: center;
          align-items: center;
          writing-mode: vertical-rl;
        }
      }
      &:last-child {
        margin-right: 48px;
      }
      .title {
        font-size: 24px;
        padding: 8px 0;
        color: #fff;
      }
      .itemBody {
        padding: 8px 0;
        border: 1px solid #f00;
        position: absolute;
        width: 100%;
      }
      &:nth-child(1) {
        background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
      }
      &:nth-child(2) {
        background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
      }
      &:nth-child(3) {
        background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
      }
      &:nth-child(4) {
        background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
      }
      &:nth-child(5) {
        background: linear-gradient(135deg, #5ecce7 0%, #3bafcd 100%);
      }
      &:nth-child(6) {
        background: linear-gradient(135deg, #e2c3e2 0%, #e2c3df 100%);
      }
    }
  }

  .gridContents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: stretch;
    padding: 0 16px;
    width: 100%;
    .item {
      background-color: #171717;
      padding: 16px;
      border-radius: 16px;
      aspect-ratio: 1;
      .title {
        font-size: 16px;
        padding: 8px 0;
        color: #fff;
      }
      .rate {
        color: #5ecce7;
      }
      /*&:first-child {
        grid-column: 1 / 3;
        aspect-ratio: 2;
      }*/
    }
  }
}
