.container {
  scroll-snap-align: start;
  width: 100%;
  //height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  &.list {
    height: calc(100% - 68px);
    .contents {
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }
  &.grid {
    height: 100%;
    .contents {
      height: 100%;
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      align-items: stretch;
      padding: 0 16px 16px 16px;
      width: 100%;
    }
  }
}
