.form {
  display: flex;
  flex-direction: column;
  //margin-top: 16px;
  .label {
    color: var(--colorMid);
    font-size: var(--titleSize);
    margin-bottom: 8px;
  }
  .inputGroup {
    display: flex;
    gap: var(--gap);
  }
  .picker {
    border-bottom: 1px solid var(--colorBase);
    display: flex;
    flex-direction: row;
    //padding-top: 20px;
    justify-content: space-between;
    .title {
      width: 100px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--normalSize);
      color: var(--colorMid);
    }
    & + button {
      margin-top: 16px;
    }
  }
  .select {
    display: flex;
    flex-direction: column;
  }
  .input {
    outline: none;
    outline: 1px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: var(--borderRadius-50);
    width: 100%;
    height: 48px;
    font-family: inherit;
    font-size: var(--normalSize);
    padding: 0 16px;
    background-color: var(--colorBase);

    display: flex;
    align-items: center;

    display: grid;
    grid-template-columns: auto 36px;

    transition: all 0.32s ease-in-out;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &.required {
      background: var(--colorRequired);
    }
    &::placeholder {
      color: var(--colorLabel);
    }
    &:focus {
      z-index: 1;
    }
    &:disabled,
    &.disabled {
      background: var(--colorDisabled) !important;
      pointer-events: none;
    }
    &.rightButton {
      padding-right: 0;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 2/3;
    }
  }

  /*& + .form {
    margin-top: 48px;
  }*/

  .selectList {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    color: var(--colorLabel);
    font-size: var(--normalSize);
    &.active {
      color: var(--colorSecondary);
      background: url("../../images/check.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 4px) center;
    }
  }

  .radio,
  .checkbox {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: var(--borderRadius-50);
    width: 100%;
    font-family: inherit;
    font-size: var(--normalSize);
    padding: 16px;
    background-color: var(--colorBase);
    display: grid;
    input {
      display: none;
    }

    .item {
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          content: "";
          border: 1px solid var(--colorLabel);
          margin-right: 8px;
          background: var(--colorWhite);
          display: flex;
          width: 21px;
          height: 21px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: remixicon;
          font-size: var(--labelSize);
          color: var(--colorPrimary);
          font-weight: bold;
        }
      }
      input {
        &:checked + label {
          &::before {
            content: "\EB7B";
          }
        }
      }
    }

  }

  .checkbox {
    .item {
      label {
        &::before {
          border-radius: 4px;
          font-size: var(--labelSize);
        }
      }
      input {
        &:checked + label {
          &::before {
            content: "\EB7B";
          }
        }
      }
    }
  }

  .radio {
    .item {
      label {
        &::before {
          content: "";
          border-radius: 21px;
          font-size: var(--normalSize);
        }
      }
      input {
        &:checked + label {
          &::before {
            content: "\EB7C";
          }
        }
      }
    }
  }
}
