.container {
  padding: 16px;
  background: var(--colorCard);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("../../images/main2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding-bottom: 16px;

    .titleGroup {
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: skew(-20deg);
      .title {
        margin-right: 8px;
        height: 100%;
        font-size: 48px;
        line-height: 48px;
        word-break: keep-all;
        background: linear-gradient(90deg, #141414, #194bb5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .sub {
        height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
        font-size: var(--textSize);
        line-height: 20px;
        padding-top: 2px;
        color: var(--colorLabel);
        background: linear-gradient(90deg, #194bb5, #009de4, #5ac8fa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        &::after {
          content: "TM";
          position: absolute;
          width: 128%;
          height: 2px;
          top: 50%;
          border-radius: 4px;
          background: linear-gradient(90deg, #194bb5, #009de4, #fff);
        }
      }
    }
    .subTitle {
      transform: skew(-20deg);
      letter-spacing: 0.46em;
      color: var(--colorLabel);
      background: linear-gradient(135deg, #ccc, #141414);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .main {
    .inputGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      > div {
        input {
          &:focus {
            z-index: 1;
          }
          border-radius: var(--borderRadius-50) var(--borderRadius-50) 0 0;
        }
        & + div {
          margin-top: -1px;
          input {
            border-radius: 0 0 var(--borderRadius-50) var(--borderRadius-50);
          }
        }
      }
    }
  }
}
