.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: var(--textSize);
      line-height: var(--textSize);
      word-break: keep-all;
      background: linear-gradient(90deg, #141414, #194bb5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: skew(-20deg);
    }
  }
}
