.main {
  flex: 1;
  width: 100%;
  padding: 16px 16px 48px 16px;
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    .title {
      font-size: var(--titleSize);
      line-height: 32px;
      word-break: keep-all;
      background: linear-gradient(#141414, #939393);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .date {
      color: var(--colorMid);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}


