.container {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--colorCard);
  border-radius: var(--borderRadius);
  padding: 8px 16px 16px 16px;
  box-shadow: 2px 4px 8px #efefef;
  .head {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: var(--titleSize);
    }
    .text {
      font-size: var(--fontSize);
    }
    .button {
      background: var(--colorSecondary);
      color: var(--colorPrimary);
      height: 28px;
      padding: 0 16px;
      border-radius: var(--borderRadius);
      font-size: var(--fontSize);
    }
  }
  .header {
    border-top: 1px solid #ebebeb;
    padding: 8px 0 0 0;
  }
  .children {
    border-top: 1px solid #ebebeb;
    padding: 16px 0 0 0;
  }
  
}