.container {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--colorCard);
  border-radius: var(--borderRadius);
  padding: 8px 16px 16px 16px;
  box-shadow: var(--boxShadow);
  .head {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title {
      color: var(--colorTitle);
      font-size: var(--titleSize);
      display: flex;
      height: 100%;
      align-items: center;
    }
    .text {
      font-size: var(--textSize);
    }
    .button {
      background: var(--colorPrimary);
      color: var(--colorBase);
      height: 28px;
      padding: 0 16px;
      border-radius: var(--borderRadius);
      font-size: var(--textSize);
    }
  }
  .header {
    border-top: 1px solid #ebebeb;
    padding: 8px 0 0 0;
  }
  .children {
    display: flex;
    flex-direction: column;
  }

  .childrenLine {
    border-top: 1px solid #ebebeb;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
  }
  
}