.container {
  //margin-top: 8px;
  background: var(--colorLight);
  border: 1px solid rgba(0, 0, 0, 0.056);
  border-radius: var(--borderRadius-50);
  padding: 16px;
  position: relative;
  .baseIcon {
    background-color: var(--colorCard);
    border: 1px solid rgba(0, 0, 0, 0.056);
    color: var(--colorPrimary);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    z-index: 1;
    position: absolute;
    top: calc(0px - 18px);
    left: calc(50% - 18px);
    i {
      background: linear-gradient(#2980b9, #6bd2f8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    .itemGroup {
      & + .itemGroup {
        margin-top: 36px;
      }
      .label {
        color: var(--colorTitle);
        font-size: var(--normalSize);
        display: flex;
        align-items: center;
        height: 56px;
      }
    }

    .bar {
      border: 6px solid var(--colorLight);
      //border-radius: var(--borderRadius);
      background: var(--colorCard);
      height: 16px;
      margin: 8px -6px 24px;
      position: relative;
      .value {
        display: flex;
        height: 100%;
        border-radius: inherit;
        will-change: width;
      }
      .text {
        display: flex;
        position: absolute;
        right: -4px;
        top: 16px;
        font-size: var(--normalSize);
      }
    }

    .item {
      height: 32px;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .label {
        font-size: var(--normalSize);
        color: var(--colorLabel);
        padding: 0;
        display: flex;
        align-items: center;
      }
      .text {
        font-size: var(--normalSize);
        color: var(--colorText);
      }
      .textGroup {
        display: flex;
        flex-direction: column;
        .text {
          padding: 4px 0;
          font-size: var(--normalSize);
        }
      }
    }
  }
}
