.item {
  border-bottom: 1px solid var(--colorLight);
  //border: 1px solid var(--colorError);
  padding: 16px 16px 36px 16px;
  display: grid;
  grid-template-columns: 36px auto;
  grid-template-rows: 36px auto 36px;
  //align-items: center;
  position: relative;
  &.active {
    &::after {
      content: "close";
    }
    .comment {
      -webkit-line-clamp: inherit;
      &::after {
        height: 0rem;
      }
    }
  }
  &::after {
    content: "more";
    position: absolute;
    bottom: -18px;
    border: 1px solid var(--colorLight);
    background: var(--colorCard);
    color: var(--colorLabel);
    padding: 0 16px;
    width: 56px;
    height: 36px;
    left: calc(50% - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
  }
  .icon {
    //border: 1px solid var(--colorError);
    align-items: center;
    justify-content: center;
    color: var(--colorLabel);
  }
  .label {
    //border: 1px solid var(--colorError);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    grid-column: 2 / 3;
    color: var(--colorTitle);

    
  }
  .comment {
    grid-column: 2 / 3;
    //grid-row: 2;
    font-size: var(--normalSize);
    line-height: var(--labelSize);
    color: var(--colorText);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    /*white-space: nowrap;*/
    //position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 8rem;
      width: 100%;
      background: linear-gradient(
        to bottom, transparent, var(--colorBase)
      );
      pointer-events: none;
    }
  }
  .date {
    grid-column: 2 / 3;
    align-self: center;
    color: var(--colorLabel);
  }
}
