.container {
  margin-top: 8px;
  background-color: #f4f4f4;
  border: 1px solid rgba(0,0,0,0.056);
  border-radius: calc(var(--borderRadius) * 0.5);
  padding: 16px;
  position: relative;
  .baseIcon {
    background-color: var(--colorCard);
    border: 1px solid rgba(0,0,0,0.056);
    color: #0c90e7;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    z-index: 1;
    position: absolute;
    top: calc(0px - 18px);
    left: calc(50% - 18px);
    i {
      background: linear-gradient(#2980b9, #6bd2f8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
    }
  }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
      height: 32px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &.col {
        .title {
          color: var(--colorCardActive);
          font-size: var(--fontSize);
          margin-bottom: 16px;
        }
      }
      .textGroup {
        display: flex;
        flex-direction: column;
        .text {
          padding: 4px 0;
        }
      }
      &.left {
        height: auto;
        align-items: flex-start;
        .textGroup {
          align-items: flex-end;
          .text {
            color: #e78a0c;
            font-size: var(--fontSize);
          }
        }
      }
      &.right {
        height: auto;
        align-items: flex-end;
        .textGroup {
          align-items: flex-end;
          .text {
            color: #0c90e7;
            font-size: var(--fontSize);
          }
        }
      }
    }
  }
}
