.overview {
  background-color: #171717;
  height: 498px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    background-color: var(--colorPrimary);
    height: 136px;
    border-radius: var(--borderRadius);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    /*position: sticky;
    top: 0;
    z-index: 2;*/

    &::before {
      content: "";
      width: calc(100% - 32px);
      height: 1px;
      border-radius: 2px;
      background: linear-gradient(90deg, #000428 0%, #3bafcd 100%);
      position: absolute;
    }
    .baseIcon {
      background-color: var(--colorCard);
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 32px;
      z-index: 1;
    }
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      &:last-child {
        align-items: flex-end;
      }
      .title {
        padding: 8px 0;
        font-size: var(--textSize);
      }
      .text {
        padding: 8px 0;
        color: var(--colorCard);
        font-size: var(--textSize);
      }
    }
  }
  .body {
    padding: 16px;
    flex: 1;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    display: grid;
    grid-gap: 16px;
    grid-template-rows: auto 16px 40px;

    border-radius: var(--borderRadius);
    background: linear-gradient(180deg, transparent, #282828);
    box-shadow: 0 8px 16px #000;

    .aircraft {
      width: min(294px, calc(100% - 16px));
      //min-height: 114px;
      align-self: center;
      justify-self: center;
      filter: drop-shadow(0px 0px 64px #007fff);
    }
    
  }
  .footer {
    padding: 16px;
  }
}
