.overview {
  background-color: #171717;
  height: 498px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  .header {
    background-color: var(--colorPrimary);
    height: 136px;
    border-radius: var(--borderRadius);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      width: calc(100% - 32px);
      height: 1px;
      border-radius: 2px;
      background: linear-gradient(90deg, #000428 0%, #3bafcd 100%);
      position: absolute;
    }
    .baseIcon {
      background-color: var(--colorCard);
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 32px;
      z-index: 1;
    }
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      &:last-child {
        align-items: flex-end;
      }
      .title {
        padding: 8px 0;
        font-size: var(--textSize);
      }
      .text {
        padding: 8px 0;
        color: var(--colorCard);
        font-size: var(--textSize);
      }
    }
  }
  .body {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .aircraft {
      width: min(294px, calc(100% - 32px));
      min-height: 114px;
      filter: drop-shadow(0px 0px 64px #007fff);
    }
    .rate {
      width: 100%;

      .item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        position: relative;
        &::before {
          content: "00.00%";
          font-size: 34px;
          line-height: 36px;
          font-family: "Digital Numbers Regular";
          position: absolute;
          right: 0px;
          color: var(--colorTitle);
          z-index: 0;
        }
        .title {
          color: var(--colorMid);
          display: flex;
          align-items: flex-end;
          font-size: 18px;
        }
        .text {
          color: #0c90e7;
          font-family: "Digital Numbers Regular";
          font-size: 34px;
          line-height: 36px;
          z-index: 1;
          /*&::after {
            content: "%";
          }*/
        }
      }
      .bar {
        height: 16px;
        display: flex;
        background-color: var(--colorCard);
        border-radius: var(--borderRadius);
        border: 4px solid #efefef;
        .value {
          height: 100%;
          background: linear-gradient(90deg, #3bafcd 0%, #004e92 100%);
          width: 0%;
          border-radius: var(--borderRadius-50);
          will-change: width;
        }
      }
    }
  }
  .footer {
    padding: 16px;
  }
}
