.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  .title {
    font-size: var(--textSize);
    color: var(--colorLabel);
  }
  .text {
    font-size: var(--textSize);
    color: var(--colorText);
  }
}
