.container {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  .bg {
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    will-change: opacity;
  }
  .sheet {
    z-index: 1;
    padding: 4px 16px 16px;
    left: 0;
    width: 100%;
    border-radius: 16px;
    background: var(--colorCard);
    touch-action: none;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.16);
    flex-direction: column;
    //margin-bottom: 56px;
    
    .header {
      position: relative;
      border-bottom: 1px solid var(--colorLight);
      display: grid;
      grid-template-columns: 36px auto 36px;
      .title {
        grid-column: 2/3;
        font-size: 18px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colorTitle);
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .body {
      padding: 16px 0;
      height: 100%;
      overflow-y: auto;
      font-size: var(--normalSize);
      line-height: 21px;
      color: var(--colorText);
    }
    .footer {
      //height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}
