.header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  .title {
    font-size: var(--titleSize);
    line-height: 32px;
    word-break: keep-all;
    background: linear-gradient(var(--colorPrimary), var(--colorActive));
    background: linear-gradient(var(--colorSecondary), var(--colorMid));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .date {
    color: var(--colorMid);
  }
}
