.header {
  width: 100%;
  min-height: 56px;
  padding: 0 8px 0 4px;
  z-index: 10;
  //position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 48px 48px auto 48px 48px;
  grid-template-columns: 36px 36px auto 36px 36px;
  transition: box-shadow 0.16s ease-in-out;
  will-change: box-shadow;
  //border-radius: 0 0 var(--borderRadius-150) var(--borderRadius-150);
  //backdrop-filter: saturate(180%) blur(20px);
  &.active {
    box-shadow: var(--boxShadow);
    //border-bottom: 1px solid #ccc;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorText);
  }
  .back {
    z-index: 10;
    grid-column: 1 / 2;
  }
  .home {
    z-index: 0;
    grid-column: 2 / 3;
  }
  .location {
    z-index: 0;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      color: var(--colorTitle);
      font-size: var(--titleSize);
      letter-spacing: 1px;
      padding: 4px 0px;
      transition: transform 0.16s ease-in-out;
      &.active {
        background: linear-gradient(
          90deg,
          var(--colorSecondary),
          var(--colorActive)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: skew(-20deg);
      }
    }
  }
  .notification {
    z-index: 0;
    grid-column: 4 / 5;
    position: relative;
    &.active::after {
      content: "";
      position: absolute;
      background-color: var(--colorRed);
      border-radius: var(--borderRadius-50);
      width: 8px;
      height: 8px;
      right: 4px;
      top: 10px;
    }
  }
  .menu {
    z-index: 2;
    grid-column: 5 / 6;
    .text {
      font-size: var(--normalSize);
    }
  }
  /*button {
    width: 48px;
  }*/
}
