.App {
  height: 100%;
  touch-action: none;
  /*overflow: hidden;*/
  .container {
    width: 100%;
    height: inherit;
    //display: grid;
    //grid-auto-rows: 56px auto;
    .contents {
      overflow: hidden;
      background: var(--colorBase);
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      will-change: transform, opacity;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 48px;
        width: 100%;
        background: linear-gradient(to bottom, transparent, var(--colorBase));
        pointer-events: none;
        transform: translateY(48px);
        transition: transform 0.32s ease-in-out;
        will-change: transform;
      }

      &.sub {
        &::after {
          transform: translateY(0px);
        }
      }
    }
  }
}

.load {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: rgba(0,0,0,0.48);
  &::after {
    content: "\F080";
    font-family: "remixicon";
    font-size: 36px;
    color: var(--colorPrimary);
    border: 1px solid var(--colorLight);
    background: var(--colorBase);
    border-radius: 56px;
    width: 56px;
    height: 56px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 0.6s infinite;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (orientation: portrait) {
  /* Portrait CSS */
}

@media (orientation: landscape) {
  /* Landscape CSS */
  /*.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      content: "\F15A";
      font-family: remixicon;
      font-size: 48px;
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      color: var(--colorLabel);
    }
    &::after {
      content: "Landscape mode is not supported";
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-family: "HelveticaNeue Condensed Bold", sans-serif;
      font-size: 18px;
      font-weight: 400;
      background: linear-gradient(90deg, #141414, var(--colorPrimary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .container {
    display: none;
  }*/
}

@media (prefers-color-scheme: dark) {
  /* Dark CSS */
}
