/*element reset*/
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
}

i {
  font-size: var(--titleSize);
}

a, button {
  all: unset;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  appearance: none;
}

button svg {
  width: auto;
  height: auto;
}

input, select, textarea, button, a, label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  caret-color: var(--colorPrimary);
}

svg {
  width: 100%;
  height: 100%;
}

/*box-sizing*/
* {
  box-sizing: border-box !important;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --colorBase: #f8f8f8;
  --colorPrimary: #0c90e7;
  --colorActive: #194bb5;
  --colorSecondary: #141414;
  --colorSuccess: #76b7b2;
  --colorEditable: #f28e2c;
  --colorError: #e15759;
  --colorDisabled:#d9d9d9;
  --colorRequired:#fdebdf;
  --colorWhite: #fff;
  --colorLight: #efefef;
  --colorMid: #939393;
  --colorDark: #343434;
  --colorBlack: #000;

  --colorCard: #fff;
  --colorTitle: #141414;
  --colorLabel: #b4b4b4;
  --colorText: #606060;

  --borderRadius: 16px;
  --borderRadius-50: calc(var(--borderRadius) * 0.5);
  --borderRadius-150: calc(var(--borderRadius) * 1.5);

  --padding: 16px;
  --gap: 16px;

  --maxSize: 48px;
  --largeSize: 36px;
  --titleSize: 24px;
  --normalSize: 16px;
  --mediumSize: 14px;
  --smallSize: 12px;

  --boxShadow: 0px 4px 8px rgba(0, 0, 0, 0.048);
  --boxShadowIn: inset 0px 0px 8px rgba(0, 0, 0, 0.48);
}

@media (prefers-color-scheme: light) {
  /* light CSS */
}

@media (prefers-color-scheme: dark) {
  /* dark CSS */
  /*:root {
    --colorBase: #343434;
    --colorPrimary: #0c90e7;
    --colorActive: #194bb5;
    --colorSecondary: #141414;
    --colorSuccess: #76b7b2;
    --colorEditable: #f28e2c;
    --colorError: #e15759;
    --colorMid: #939393;
    --colorLight: #343434;
    --colorDark: #343434;
  
    --colorCard: #141414;
    --colorTitle: #969696;
    --colorLabel: #b4b4b4;
    --colorText: #606060;
  }*/
}